﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site1.Master" AutoEventWireup="true" CodeBehind="Notification.aspx.cs" Inherits="Master_Control.Notification" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
	<section class="content-header">
		<h1>Notifications</h1>
		<ol class="breadcrumb">
			<li><a href="Index.aspx"><i class="fa fa-dashboard"></i>Home</a></li>
			<li class="active">
				<span><i class="fa fa-exclamation-circle"></i>&nbsp;Notifications</span>
			</li>
		</ol>
	</section>

	<section class="content">
		<div class="box box-default" style="margin-top: 1%;">
			<div class="box-body">
				<div class="col-xs-12">
					<script language="JavaScript" src="http://www.feedbucket.com/js.php?src=http%3A%2F%2Fwww.changedetection.com%2Faccountfeed.xml%3Ffeedid%3D491822347242096&chan=y&desc=1&date=y" type="text/javascript"></script>
					<noscript>
						<a href="http://www.feedbucket.com/">Web RSS</a> by FeedBucket.
					</noscript>

                    <%--<script language="JavaScript" src="http://www.feedbucket.com/js.php?src=http%3A%2F%2Fwww.changedetection.com%2Faccountfeed.xml%3Ffeedid%3D379637442797417&chan=y&desc=1&date=y" type="text/javascript"></script>
                    <noscript>
                    <a href="http://www.feedbucket.com/">Web RSS</a> by FeedBucket.
                    </noscript> --%>
				</div>
			</div>
		</div>
	</section>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="script" runat="server">
</asp:Content>
